h3 {
    text-align : center;
    color: coral;
    margin-bottom: 30px;
  } 
  h4{
    margin-top: 20px;
    text-align: left;
  }
  h2{
    color: #88BAE3; 
  }
  /* .help{
    background-image: url("people_map.jpg") ;
    opacity: 0.2;
  } */

#map-img{
  align-items: center;
  width:50%;
  height:35%
}
.ctr {
  align-content: center;
}